/*General Styles*/

h1,
h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

p {
    line-height: 1.4;
    margin: 0;
    text-align: justify;
}

.blocker {
    z-index: 100 !important;
}

span {
    font-weight: bold;
}

.acrostico {
    font-size: 1.8em;
}

.section {
    margin: 0;
    padding-left: 7%;
    cursor: pointer;
}

.circle {
    z-index: 0;
}

.videoPages {
    overflow-x: hidden !important;
}


/*Tooltip*/

.tooltip-author {
    cursor: pointer;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-text em {
    margin-right: 1%;
    color: #000000;
}

.main-img {
    width: 160px !important;
    height: 165px !important;
    border-radius: 100%;
    box-shadow: 8px 10px 30px grey;
}

.content-tooltip {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    margin: 7% auto;
    border-radius: 3%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-author:hover .content-tooltip {
    visibility: visible;
    opacity: 1;
}

.span-content {
    margin: 3%;
    width: 100%;
}

.content-tooltip::before {
    content: "";
    position: absolute;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top: -119%;
    left: 45%;
    margin-left: -5px;
    border-width: 94px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.text-content {
    color: #000000;
    text-align: center;
    font-weight: bold;
}


/*Magazine text*/

.text-biblical {
    font-family: 'Belgrano', serif;
}

.text-introductory,
.button-magazine {
    font-family: 'Montserrat', sans-serif;
}


/*Magzine pagination*/

.number-page {
    position: absolute;
    font-size: .7em;
    bottom: 48px;
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
}

.even .number-page {
    left: 70px;
    animation: pulse 2s 3;
}

.odd .number-page {
    right: 70px;
    animation: pulse-2 2s 4;
}

@media only screen and (max-width: 468px) {
    .number-page {
        bottom: 28px;
    }
    .even .number-page {
        left: 36px;
    }
    .odd .number-page {
        right: 36px;
    }
}


/*Section title*/

.section-magazine,
.section {
    font-weight: bold;
    font-style: italic;
    cursor: context-menu;
}

.section-magazine p {
    width: 25%;
    float: right;
    background-color: #ffa800;
    padding: 3% 0% 2% 0%;
    border-radius: 0 0 89px 89px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
}


/*Buttons read, listen and print*/

.region {
    z-index: 10;
}

.button-magazine {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
}

.button-magazine img {
    width: 6.4% !important;
    border-radius: 100%;
    box-shadow: 3px 3px 8px grey;
    animation: pulse 2s 3;
}

.button-read img {
    animation: pulse 2s 3;
}

.button-magazine p {
    margin-right: 1%;
}


/*Button audio*/

.audioPage {
    display: none;
}

audio {
    display: flex;
    position: absolute;
    width: 68%;
    height: 26px;
    right: 61%;
}


/*Modal*/

.modal {
    max-width: unset !important;
    width: 50% !important;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 468px) {
    .modal {
        width: 100% !important;
        height: 77%;
    }
}

.inputStorage {
    width: 98%;
}

.header-modal h1 {
    font-size: 1.1em;
}

.body-modal p {
    font-size: .9em;
    overflow-y: auto;
    line-height: 1.6;
}

.modal a.close-modal {
    background-color: red;
    width: 25px !important;
    height: 25px !important;
    position: fixed !important;
    border-radius: 100%;
    box-shadow: 3px 3px 8px grey;
    top: 24px !important;
    right: 27%!important;
    background-image: url(/assets/pics/icons/x.png) !important;
}

@media only screen and (max-width: 468px) {
    .modal a.close-modal {
        width: 30px !important;
        height: 30px !important;
        top: 105px !important;
        right: 8%!important;
    }
}


/*Social Media Buttons*/

#button-fb,
#button-wpp,
#button-twi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: scale(1);
}

#button-fb img,
#button-wpp img,
#button-twi img {
    width: 60% !important;
    box-shadow: none;
}

#button-fb:hover,
#button-wpp:hover,
#button-twi:hover {
    transform: scale(1.1);
}

.button-share-fb,
.button-share-wpp,
.button-share-twi {
    bottom: 38px;
}

@media only screen and (max-width: 468px) {
    #button-fb,
    #button-wpp,
    #button-twi {
        width: 100%;
        height: 30px;
    }
    .button-share-fb,
    .button-share-wpp,
    .button-share-twi {
        bottom: 28px !important;
    }
    .button-share-fb {
        left: 64% !important;
    }
    .button-share-wpp {
        left: 74% !important;
    }
}


/*Page 2*/

.p2 .backPage2 {
    width: 200% !important;
}

.p2 .to-page:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.p2 .to-page p {
    margin: 0;
    padding-left: 7%;
    cursor: pointer;
}


/*Page 3*/

.p3 .to-page:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.p3 .backPage3 {
    width: 200% !important;
    float: right;
}

.p3 .to-page p {
    margin: 0;
    padding-left: 7%;
    cursor: pointer;
}


/*Page 4*/


/*Page 5*/

.p5 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 7*/

.p7 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 8*/

.p8 .title {
    visibility: hidden;
}

.p8 .text-biblical p {
    text-align: justify;
}

.p8 .verse p {
    text-align: center;
}

.p8 .button-magazine {
    color: #ffffff;
    font-weight: bold;
}

.p8 .button-magazine:hover {
    color: #898585;
    transition: all 0.5s;
}

.p8 .backPage8 {
    width: 200% !important;
    float: left;
}

.p8 .content-tooltip {
    margin: 7% 35%;
}

.p8 .content-tooltip::before {
    left: 75%;
}

@media only screen and (max-width: 468px) {
    .p8 .title_page {
        width: 65% !important;
        left: 16% !important;
        top: 7% !important;
    }
    .p8 .text-introductory p {
        left: 13% !important;
        top: 42%;
    }
    .p8 .graphic_arrow {
        left: 4% !important;
        top: 42% !important;
    }
    .p8 .tooltip-author {
        top: 24% !important;
    }
    .p8 .text-biblical p {
        top: 30% !important;
    }
    .p8 .verse p {
        top: 38% !important;
    }
    .p8 .button-read {
        top: 76% !important;
        left: 60% !important;
        width: 100% !important;
    }
    .p8 .btn-audio {
        top: 82% !important;
        left: 47.5% !important;
        width: 100% !important;
    }
    .p8 .button-print {
        top: 88% !important;
        left: 61% !important;
        width: 100% !important;
    }
    .p8 .button-reflexion {
        top: 94% !important;
        left: 54.3% !important;
        width: 100% !important;
    }
}


/*Page 9*/

.p9 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p9 .button-share-fb {
    bottom: 80%;
}

.p9 .button-share-twi {
    bottom: 74%;
}

.p9 .button-share-wpp {
    bottom: 68%;
}

.p9 .backPage9 {
    width: 200% !important;
    float: right;
}

@media only screen and (max-width: 468px) {
    .p9 #button-fb,
    .p9 #button-wpp,
    .p9 #button-twi {
        width: 100%;
        height: 30px;
    }
    .p9 .button-share-fb {
        bottom: 80% !important;
        left: 88% !important;
    }
    .p9 .button-share-twi {
        bottom: 72% !important;
        left: 88% !important;
    }
    .p9 .button-share-wpp {
        bottom: 64% !important;
        left: 88% !important;
    }
}


/*Page 10*/

.p10 .title {
    visibility: hidden;
}

.p10 .backPage10 {
    width: 200% !important;
    float: left;
}

.p10 .text-biblical p {
    text-align: center;
}

.p10 .content-tooltip {
    margin: 7% 35%;
}

.p10 .content-tooltip::before {
    left: 75%;
}

.p10 .verse p {
    text-align: center;
}

.p10 .button-share-fb {
    bottom: 3%;
}

.p10 .button-share-twi {
    bottom: 3%;
}

.p10 .button-share-wpp {
    bottom: 3%;
}

@media only screen and (max-width: 468px) {
    .p10 .button-share-fb,
    .p10 .button-share-twi,
    .p10 .button-share-wpp {
        bottom: 21px !important;
    }
    .p10 .button-share-wpp {
        left: 80% !important;
    }
}


/*Page 11*/

.p11 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p11 .section-magazine p {
    background-color: #b41015;
    color: #ffffff;
}

.p11 .backPage11 {
    width: 200% !important;
    float: right;
}


/*Page 12*/

.p12 .backPage12 {
    width: 133% !important;
    float: left;
}

.p12 .text-biblical p {
    color: #ffffff;
    text-align: center;
}

.p12 .button-share-fb {
    bottom: 26%;
}

.p12 .button-share-twi {
    bottom: 20%;
}

.p12 .button-share-wpp {
    bottom: 14%;
}

.p12 .title {
    visibility: hidden;
}

.p12 .content-tooltip {
    margin: 7% 35%;
}

.p12 .content-tooltip::before {
    left: 75%;
}

.p12 .number-page {
    color: #ffffff;
}

@media only screen and (max-width: 468px) {
    .p12 .text-biblical p {
        font-size: 6em !important;
    }
    .p12 .text-biblical {
        left: 0 !important;
        top: 85% !important;
    }
    .p12 .button-share-fb {
        bottom: 28% !important;
        left: 5% !important;
    }
    .p12 .button-share-twi {
        bottom: 22% !important;
        left: 5% !important;
    }
    .p12 .button-share-wpp {
        bottom: 16% !important;
        left: 5% !important;
    }
}


/*Page 13*/

.p13 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p13 .backPage13 {
    position: absolute;
    width: 133% !important;
    right: 67% !important;
}

.p13 .text-biblical p {
    position: absolute;
    color: #ffffff;
    left: -100%;
    z-index: -1;
}

.p13 .text-introductory p {
    text-align: justify;
}

.p13 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}


/*Page 14*/

.p14 .backPage14 {
    width: 200% !important;
}

.p14 .title {
    visibility: hidden;
}

.p14 .text-biblical p,
.p14 .verse p {
    text-align: center;
    color: #ffffff;
}

.p14 .text-introductory p,
.p14 .main-text em {
    color: #ffffff;
}

.p14 .button-magazine p {
    order: 2;
    color: #ffffff;
    margin-left: 2%;
}

.p14 .content-tooltip {
    margin: 7% 35%;
}

.p14 audio {
    right: 33%;
    margin-top: 0%;
}

.p14 .number-page {
    color: #ffffff;
}


/*Page 15*/

.p15 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p15 .backPage15 {
    width: 200% !important;
    float: right;
}

.p15 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}

.p15 .button-share-fb {
    bottom: 80%;
}

.p15 .button-share-twi {
    bottom: 74%;
}

.p15 .button-share-wpp {
    bottom: 68%;
}

.p15 .number-page {
    color: #ffffff;
}


/*Page 16*/

.p16 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p16 .title {
    visibility: hidden;
}

.p16 .text-biblical p,
.p16 .verse p {
    text-align: center;
}

.p16 .button-share-fb {
    bottom: 26%;
}

.p16 .button-share-twi {
    bottom: 20%;
}

.p16 .button-share-wpp {
    bottom: 14%;
}


/*Page 17*/

.p17 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p17 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}

.p17 .text-introductory p {
    background-color: rgba(255, 255, 255, 0.694);
    padding: 9% 15% 11% 15%;
    border-radius: 0 0 0 20%;
}

.p17 .button-magazine {
    color: #ffffff;
}

.p17 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}


/*Page 19*/

.p19 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 20*/

.p20 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p20 .title {
    visibility: hidden;
}

.p20 .text-biblical p,
.p20 .verse p {
    text-align: center;
}

.p20 .button-share-fb {
    bottom: 26%;
}

.p20 .button-share-twi {
    bottom: 20%;
}

.p20 .button-share-wpp {
    bottom: 14%;
}

.p20 .content-tooltip {
    margin: 7% 35%;
}

.p20 .content-tooltip::before {
    left: 75%;
}

.p20 .number-page {
    color: #ffffff;
}


/*Page 21*/

.p21 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p21 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}

.p21 .button-magazine p {
    order: 2;
    color: #ffffff;
    margin-left: 2%;
}

.p21 .number-page {
    color: #ffffff;
}

.p21 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}


/*Page 22*/

.p22 audio {
    right: 33%;
    margin-top: 0%;
}

.p22 .button-magazine p {
    order: 2;
    color: #ffffff;
    margin-left: 2%;
}

.p22 .text-introductory p {
    background-color: #ffffffb9;
    padding: 7% 5% 11% 7%;
    border-radius: 0 0 0 20%;
}

.p22 .title {
    visibility: hidden;
}

.p22 .content-tooltip {
    margin: 7% 35%;
}

.p22 .content-tooltip::before {
    left: 75%;
}

.p22 .main-text em {
    color: #ffffff;
}

.p22 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p22 .number-page {
    color: #ffffff;
}


/*Page 23*/

.p23 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}

.p23 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p23 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}

.p23 .number-page {
    color: #ffffff;
}

@media only screen and (max-width: 468px) {
    .p23 .button-share-fb {
        bottom: 80% !important;
        left: 88% !important;
    }
    .p23 .button-share-twi {
        bottom: 72% !important;
        left: 88% !important;
    }
    .p23 .button-share-wpp {
        bottom: 64% !important;
        left: 88% !important;
    }
}


/*Page 24*/

.p24 .title {
    visibility: hidden;
}

.p24 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p24 .button-magazine p {
    order: 2;
    margin-left: 2%;
    color: #ffffff;
}

.p24 .text-introductory,
.p24 .number-page,
.p24 .main-text em {
    color: #ffffff;
}


/*Page 25*/

.p25 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p25 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}

.p25 .button-share-fb {
    bottom: 50%;
}

.p25 .button-share-twi {
    bottom: 44%;
}

.p25 .button-share-wpp {
    bottom: 38%;
}

.p25 .number-page {
    color: #ffffff;
}


/*Page 26*/

.p26 .backPage26 {
    width: 115% !important;
    position: absolute;
    right: -10% !important;
}

.p26 .button-share-fb {
    bottom: 26%;
}

.p26 .button-share-twi {
    bottom: 20%;
}

.p26 .button-share-wpp {
    bottom: 14%;
}

@media only screen and (max-width: 468px) {
    .p26 .button-share-fb {
        bottom: 28% !important;
        left: 5% !important;
    }
    .p26 .button-share-twi {
        bottom: 22% !important;
        left: 5% !important;
    }
    .p26 .button-share-wpp {
        bottom: 16% !important;
        left: 5% !important;
    }
}


/*Page 27*/

.p27 .text-biblical p {
    color: #da3a63;
}

.p27 .verse p {
    color: #da3a63;
}

.p27 .text-introductory p {
    background-color: #c72c53;
    padding: 4% 12% 9% 8%;
    border-radius: 0 0 0 20%;
    color: #ffffff;
}

.p27 .arrow-text img {
    transform: rotate(90deg);
}

.p27 .content-tooltip {
    margin: 7% 35%;
}

.p27 .content-tooltip::before {
    left: 75%;
}

.p27 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}

.p27 .text-biblical p {
    text-align: center;
}

.p27 .verse p {
    text-align: center;
}

.p27 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.table-p27 {
    display: flex !important;
    width: 100%;
}

.table-p27-1 {
    display: flex !important;
    width: 48%;
    flex-direction: column;
}

.spacer {
    width: 4%;
}

.table-p27-2 {
    display: flex !important;
    width: 48%;
    flex-direction: column;
}

@media only screen and (max-width: 468px) {
    .p27 .arrow-text {
        top: 57% !important;
    }
    .p27 .button-reflexion {
        top: 83% !important;
    }
    .p27 .button-print {
        top: 78% !important;
    }
    .p27 .btn-audio {
        top: 73% !important;
    }
    .p27 .button-read {
        top: 68% !important;
    }
}


/*Page 28*/

.p28 .arrow-text img {
    transform: rotate(180deg);
}

.p28 .button-magazine p {
    order: 2;
    margin-left: 2%;
}

.p28 .title {
    visibility: hidden;
}

.p28 .content-tooltip {
    margin: 7% 35%;
}

.p28 .content-tooltip::before {
    left: 75%;
}

.p28 .backPage28 {
    width: 200% !important;
    float: left;
}

.p28 .text-biblical,
.p28 .verse {
    color: #df5975;
}

@media only screen and (max-width: 468px) {
    .p28 .button-reflexion {
        top: 85% !important;
    }
    .p28 .button-print {
        top: 80% !important;
    }
    .p28 .btn-audio {
        top: 76% !important;
    }
    .p28 .button-read {
        top: 71% !important;
    }
    .p28 .text-introductory {
        top: 39% !important;
    }
    .p28 .text-biblical {
        top: 33% !important;
    }
    .p28 .verse {
        top: 36% !important;
    }
}


/*Page 29*/

.p29 .button-share-fb {
    bottom: 28%;
}

.p29 .button-share-twi {
    bottom: 22%;
}

.p29 .button-share-wpp {
    bottom: 16%;
}

.p29 .backPage29 {
    width: 200% !important;
    float: right;
}

.p29 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.first-text p {
    color: #df5975;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
}

.second-text p {
    color: #9e3225;
    text-transform: uppercase;
    font-weight: 900;
}

.p29 .button-magazine img {
    width: 150% !important;
    animation: none;
    box-shadow: none;
}

.p29 .button-magazine {
    position: relative;
    display: inline-block;
    text-align: center;
}

.p29 .button-magazine p {
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    width: 100%;
}

@media only screen and (max-width: 468px) {
    .p29 .button-share-fb {
        bottom: 80% !important;
        left: 88% !important;
    }
    .p29 .button-share-twi {
        bottom: 72% !important;
        left: 88% !important;
    }
    .p29 .button-share-wpp {
        bottom: 64% !important;
        left: 88% !important;
    }
}


/*Page 31*/

.p31 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p31 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 33*/

.p33 .section-magazine p {
    width: 24%;
}


/*Page 34*/

.p34 .title {
    visibility: hidden;
}

.p34 .backPage34 {
    width: 200% !important;
    float: left;
}

.p34 .text-biblical p {
    text-align: center;
    color: #ffffff;
}

.p34 .main-text em {
    color: #ffffff;
}

.p34 .button-share-fb {
    bottom: 26%;
}

.p34 .button-share-twi {
    bottom: 20%;
}

.p34 .button-share-wpp {
    bottom: 14%;
}


/*Page 35*/

.p35 .section-magazine p {
    width: 24%;
}

.p35 .backPage35 {
    width: 200% !important;
    float: right;
}

.p35 .button-magazine {
    color: #ffffff;
}

.p35 .section-magazine p {
    background-color: #c5889e;
    color: #ffffff;
}


/*Page 36*/

.p36 .button-share-fb {
    bottom: 20%;
}

.p36 .button-share-twi {
    bottom: 15%;
}

.p36 .button-share-wpp {
    bottom: 10%;
}

.p36 .backPage36 {
    width: 200% !important;
    float: left;
}

@media only screen and (max-width: 468px) {
    .p36 .button-share-fb,
    .p36 .button-share-twi,
    .p36 .button-share-wpp {
        bottom: 21px !important;
    }
    .p36 .button-share-twi {
        left: 72% !important;
    }
    .p36 .button-share-wpp {
        left: 80% !important;
    }
}


/*Page 37*/

.p37 .section-magazine p {
    background-color: #e8cdbd;
    color: #856955;
}

.p37 .backPage37 {
    width: 200% !important;
    float: right;
}

.p37 .section-magazine p {
    width: 24%;
}


/*page 38*/

.p38 .text-biblical p {
    color: #ffffff;
}

.p38 .verse p {
    color: #ffffff;
}

.p38 .text-introductory p {
    color: #ffffff;
}

.p38 .button-magazine p {
    color: #ffffff;
}

.p38 .backPage38 {
    width: 200% !important;
    float: left;
}

.p38 .main-text em {
    color: #ffffff;
}

.p38 .text-biblical p {
    text-align: center;
}

.p38 .verse p {
    text-align: center;
}

.p38 .content-tooltip {
    margin: 7% 35%;
}

.p38 .content-tooltip::before {
    left: 75%;
}

.p38 .title {
    visibility: hidden;
}

.p38 .number-page {
    color: #ffffff;
}


/*Page 39*/

.p39 .section-magazine p {
    background-color: #432922;
    color: #d6c8b8;
}

.p39 .backPage39 {
    width: 200% !important;
    float: right;
}

.p39 .section-magazine p {
    width: 24%;
}

.p39 .number-page {
    color: #ffffff;
}


/*Page 40*/

.p40 .text-biblical p {
    color: #ffffff;
}

.p40 .verse p {
    color: #ffffff;
}

.p40 .main-text em {
    color: #ffffff;
}

.p40 .text-biblical p {
    text-align: center;
}

.p40 .verse p {
    text-align: center;
}

.p40 .content-tooltip {
    margin: 7% 35%;
}

.p40 .content-tooltip::before {
    left: 75%;
}

.p40 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p40 .title {
    visibility: hidden;
}


/*Page 41*/

.p41 .section-magazine p {
    width: 24%;
}

.p41 .text-introductory p {
    color: #ffffff;
}

.p41 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}


/*Page 43*/

.p43 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 44*/

.p44 .backPage44 {
    width: 200% !important;
    float: left;
}

.p44 .text-biblical p,
.p44 .verse p {
    color: #ffffff;
    text-align: center;
}

.p44 .title {
    visibility: hidden;
}

.p44 .number-page {
    color: #ffffff;
}


/*Page 45*/

.p45 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p45 .backPage45 {
    position: absolute;
    width: 172% !important;
    right: 14% !important;
}

.p45 .section-magazine {
    color: #ffbc00;
    color: #ffffff;
}

.p45 .button-share-fb {
    bottom: 80%;
}

.p45 .button-share-twi {
    bottom: 74%;
}

.p45 .button-share-wpp {
    bottom: 68%;
}

.p45 .button-magazine,
.p45 .text-introductory p {
    color: #ffffff;
}

.p45 .number-page {
    color: #ffffff;
}


/*Page 46*/

.p46 .text-biblical p {
    color: #ffffff;
}

.p46 .verse p {
    color: #ffffff;
}

.p46 .section-magazine p {
    background-color: #c8b7ab;
}

.p46 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p46 .main-text em {
    color: #ffffff;
}

.p46 .text-biblical p {
    text-align: center;
}

.p46 .verse p {
    text-align: center;
}

.p46 .content-tooltip {
    margin: 7% 35%;
}

.p46 .content-tooltip::before {
    left: 75%;
}

.p46 video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.p46 .title {
    visibility: hidden;
}


/*Page 47*/

.p47 .text-introductory p {
    background-color: #00000096;
    padding: 15% 8%;
    border-radius: 0 0 20% 0;
}

.p47 .button-magazine p {
    color: #ffffff;
}

.p47 video {
    position: absolute;
    top: 0;
    left: -100%;
    max-height: 100%;
    min-width: 100%;
    overflow-x: hidden !important;
}

.p47 .text-introductory p {
    color: #ffffff;
}


/*Page 48*/

.p48 .title {
    background-color: #ffffff;
    padding: 30% 12%;
    border-radius: 10% 10% 0% 0;
    color: transparent;
}

.p48 .backPage48 {
    width: 92% !important;
    float: left;
}

.p48 .button-share-fb {
    bottom: 22%;
}

.p48 .button-share-twi {
    bottom: 16%;
}

.p48 .button-share-wpp {
    bottom: 10%;
}

.p48 .number-page {
    z-index: 12;
}


/*Page 49*/

.p49 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

.p49 .backPage49 {
    position: absolute;
    width: 99% !important;
    right: 0% !important;
}

.p49 .section-magazine p {
    background-color: #ffbc00;
    color: #ffffff;
}

.p49 .text-introductory p,
.p49 .button-magazine {
    color: #ffffff;
}


/*Page 51*/

.p51 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}


/*Page 53*/

.p53 .section-magazine p {
    text-align: center;
    padding: 4% 0% 2% 0%;
}